{% extends 'base.html.twig' %}

{% block title %}My tasks{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>My Tasks</h1>
    {% include 'includes/task-list.html.twig' %} 
</div>
{% endblock %}
