{% if task.priority == 'high' %}
    <span class="priority high">{{ task.priority }}</span>
{% elseif  task.priority == 'medium' %}
    <span class="priority medium">{{ task.priority }}</span>
{% else %} 
    <span class="priority low">{{ task.priority }}</span>
{% endif %}    