{% extends 'base.html.twig' %}

{% block title %}Register user{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2>Register user</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end (form) }}
</div>
{% endblock %}
